html {
    background-color:black;
    color:white;
    cursor:none;
    font-family:'Ubuntu', sans-serif;
    font-size:1em;
}

body {
    margin:0;
    padding:0;
}

#date {
    left:0.5%;
    position:absolute;
    top:0.1em;
    transition:left 600ms, margin-left 1200ms;
}
body.right #date {
    left:99.5%;
    margin-left:-250px;
}

#current-day {
    font-size:1.6em;
}
#current-date {
    font-size:1.6em;
}
#current-time {
    
}
#current-time div.major span {
    font-size:5em;
}
#current-time div {
    display:inline-block;
}
#current-time div.minor span {
    display:block;
    font-size:1.8em;
}

#weather {
    bottom:0.1em;
    left:0.5%;
    margin-left:0;
    position:absolute;
    transition:left 900ms, margin-left 2000ms;
}
body.right #weather {
    left:99.5%;
    margin-left:-310px;
}

#current-weather {
    margin-left:0;
}
body.right #current-weather {
    text-align:right;
}

#current-weather-text {
    margin:1em 0;
}
#current-weather-icon {
    font-size:6em;
    margin:0.1em 0.2em 0.1em 0;
}
#current-temp {
    font-size:4em;
    margin:1.1em 0em;
}
#location {
    font-size:3em;
}