html {
    background-color:black;
    color:white;
    cursor:none;
    font-family:'Ubuntu', sans-serif;
    font-size:1em;
}

body {
    margin:0;
    padding:0;
}

#date {
    left:0.3em;
    position:absolute;
    top:0.1em;
}
#current-day {
    font-size:1.6em;
}
#current-date {
    font-size:1.6em;
}
#current-time {
    
}
#current-time div.major span {
    font-size:5em;
}
#current-time div {
    display:inline-block;
}
#current-time div.minor span {
    display:block;
    font-size:1.8em;
}

#weather {
    bottom:0.1em;
    left:0.3em;
    position:absolute;
}
#current-weather {
    margin-left:0;
}
#current-weather-text {
    margin-bottom:1em;
}
#current-weather-icon {
    font-size:6em;
    margin:0.1em 0.2em 0.1em 0;
}
#current-temp {
    font-size:4em;
    margin:1.1em 0em;
}
#location {
    font-size:3em;
}